* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.box {
    padding: 1em 1em;
    margin: 2em 0;
    border: double 5px #1e90ff;
    text-align:center;
}
.box p {
    margin: 0;
    padding: 0;
}

.btn-menu{
  color:#fff;
  width: 300px !important;
  background: #1e90ff;
  padding:10px 20px;
  font-size:18px;
  text-decoration:none;
  text-transform:uppercase;
}

.btn-menu:hover{
  border:none;
  background:#fff;
  color:#1b1b1b;
}
